/*Define Columns*/
body {
  padding: 0;
}

.nav.side-bar-nav {
  border: 3px solid #FDC107;
  padding: 0px;
  margin-bottom: 1em;
}
.nav.side-bar-nav>li>a {
  width: auto;
}
.nav.side-bar-nav>li.active>a {
  background: #FDC107;
}

.background {
  background-image: url(brick.jpg);
}

.title h1 {
  font-size: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  border-bottom: 3px solid #FDC107;
}


#page {
  background-color: white;
}

.header {
  background-image: url(background2.jpg);
  background-repeat: repeat-x;
  height: 150px;
  color: #FFFFFF;
  vertical-align: central;
}

.header .shortcutLinks {
  color: black;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-left: 10px;
}

.header .shortcutLinks a {
  color: black;
}

.header a {
  color: #FFFFFF;
}

.rcsalogo {
  background-image: url(bluemarine_logo.png);
  background-repeat: no-repeat;
  height: 85px;
}

#staircases {
  background-color: #FDC107;
  width: 150px;
  margin-left: -300px;
}

#rooms {
  background-color: #FFFFCC;
  width: 150px;
  margin-left: -150px;
}

#main {
  margin-left: 20px;
  margin-right: 20px;
  width: 650px;
  overflow-x: auto;
}

.sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
}

.sortable li {
  margin: 0 3px 3px 3px;
  padding: 0.2em;
  padding-left: 1.5em;
  font-size: 1.0em;
  height: 30px;
}

.sortable li span {
  position: absolute;
  margin-left: -1.3em;
  margin-top: 0.4em;
}

/*Define Link Styles*/
#markdown {
  overflow-x: auto;
}

#staircases a {
  background-color: #FDC107;
  color: #FFFFFF;
}

#staircases a:hover, #staircases .Selected {
  background-color: #6699FF;
  color: #000000;
}

#rooms a {
  background-color: #FFFFCC;
  color: #000000;
}

#rooms a:hover, #rooms .Selected {
  background-color: #E6E600;
}

nav a, .nav a {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  font: 14px Arial;
  text-align: center;
  border: none;
  width: 150px;
  text-decoration: none;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

textarea {
  min-height: 400px;
}

.validationError {
  background-color: #f00;
}

.allocationBlock {
  float: left;
  height: 700px; /*allows for no more than 22 rooms in a staircase*/
}

.projectorBlock {
  float: left;
  height: 500px; /*allows for no more than 22 rooms in a staircase*/
  margin: 10px;
}

.projectorBlock ul {
  padding-left: 25px;
}

.permanentlyUnavailable {
  display: none;
}

.projector .unavailable, .projector .unavailable a {
  color: red;
}



hr {
  background-color: #FDC107;
  height: 3px;
  border-width: 0;
  margin-top: 0;
}

h1 {
  margin-bottom: 0;
  color: #69F;
  font-size: 1.5em;
}

h2 {
  color: #69F;
  font-size: 1.2em;
}

#templated a:hover, .projector a:hover, #markdown li > a:only-child:hover {
  color: #727272;
}

/*Table Styling*/

table {
  border-collapse: collapse;
}

th {
  border-top: 3px solid #FDC107;
  border-bottom: 3px solid #FDC107;
}

.horizontalTable th {
  border-left: 3px solid #FDC107;
  border-right: 3px solid #FDC107;
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #CCC;
}

th {
  background: #6699FF;
}

tr {
  border-bottom: 1px solid #CCC;
}

.horizontalTable tr {
  border: 1px solid #CCC;
}

th, td {
  text-align: center;
}

td + td, th + th {
  border-left: 1px solid #CCC;
}
