/*Define Columns*/
body
{
    padding: 0;
}

.background
{
    background-image: url(brick.jpg);
}


#page
{
    background-color: white;
}

.page
{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

    .page .colmask
    {
        padding-left: 300px;
        overflow: hidden;
    }

        .page .colmask .column
        {
            position: relative;
            float: left;
            padding-bottom: 20010px; /* X + padding-bottom */
            margin-bottom: -20000px; /* X */
        }

    .page .header
    {
        background-image: url(background2.jpg);
        background-repeat: repeat-x;
        height: 150px;
        color: #FFFFFF;
        vertical-align: central;
    }

        .page .header .shortcutLinks
        {
            color: black;
            margin-bottom: 0px;
            margin-top: 10px;
            margin-left: 10px;
        }

            .page .header .shortcutLinks a
            {
                color: black;
            }

        .page .header a
        {
            color: #FFFFFF;
        }

    .page .rcsalogo
    {
        background-image: url(bluemarine_logo.png);
        background-repeat: no-repeat;
        height: 85px;
    }

#staircases
{
    background-color: #FDC107;
    width: 150px;
    margin-left: -300px;
}

#rooms
{
    background-color: #FFFFCC;
    width: 150px;
    margin-left: -150px;
}

#main
{
    margin-left: 20px;
    margin-right: 20px;
    width: 650px;
    overflow-x: auto;
}

.sortable
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

    .sortable li
    {
        margin: 0 3px 3px 3px;
        padding: 0.2em;
        padding-left: 1.5em;
        font-size: 1.0em;
        height: 30px;
    }

        .sortable li span
        {
            position: absolute;
            margin-left: -1.3em;
            margin-top: 0.4em;
        }

/*Define Link Styles*/
#markdown
{
    overflow-x: auto;
}

#staircases a
{
    background-color: #FDC107;
    color: #FFFFFF;
}

    #staircases a:hover, #staircases .Selected
    {
        background-color: #6699FF;
        color: #000000;
    }

#rooms a
{
    background-color: #FFFFCC;
    color: #000000;
}

    #rooms a:hover, #rooms .Selected
    {
        background-color: #E6E600;
    }

nav a, .nav a
{
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    font: 14px Arial;
    text-align: center;
    border: none;
    width: 150px;
    text-decoration: none;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

textarea
{
    max-width: 700px;
    min-width: 500px;
    min-height: 400px;
    height: auto;
    margin: 30px;
}

.validationError
{
    background-color: #f00;
}

.allocationBlock
{
    float: left;
    height: 700px; /*allows for no more than 22 rooms in a staircase*/
}

.projectorBlock
{
    float: left;
    height: 500px; /*allows for no more than 22 rooms in a staircase*/
    margin: 10px;
}

    .projectorBlock ul
    {
        padding-left: 25px;
    }

.permanentlyUnavailable
{
    display: none;
}

.projector .unavailable, .projector .unavailable a
{
    color: red;
}



hr
{
    background-color: #FDC107;
    height: 3px;
    border-width: 0;
    margin-top: 0;
}

h1
{
    margin-bottom: 0;
    color: #69F;
    font-size: 1.5em;
}

h2
{
    color: #69F;
    font-size: 1.2em;
}

#templated a, .projector a, #markdown li > a:only-child
{
    color: black;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border: none;
    text-decoration: none;
}

    #templated a:hover, .projector a:hover, #markdown li > a:only-child:hover
    {
        color: #727272;
    }
/*Table Styling*/

table
{
    border-collapse: collapse;
}

th
{
    border-top: 3px solid #FDC107;
    border-bottom: 3px solid #FDC107;
}

.horizontalTable th
{
    border-left: 3px solid #FDC107;
    border-right: 3px solid #FDC107;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
}

th
{
    background: #6699FF;
}

tr
{
    border-bottom: 1px solid #CCC;
}

.horizontalTable tr
{
    border: 1px solid #CCC;
}

th, td
{
    text-align: center;
}

    td + td, th + th
    {
        border-left: 1px solid #CCC;
    }

/*Define editor Styles*/
.ajaxLoader
{
    background-image: url(ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: center;
    height: 22px;
    width: 126px;
}

.wmd-panel
{
    width: 50%;
    min-width: 500px;
}

.wmd-button-bar
{
    width: 100%;
    background-color: Silver;
}

.wmd-input
{
    height: 300px;
    width: 100%;
    background-color: Gainsboro;
    border: 1px solid DarkGray;
}

.wmd-preview
{
}

.wmd-button-row
{
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 0px;
    height: 20px;
}

.wmd-spacer
{
    width: 1px;
    height: 20px;
    margin-left: 14px;
    position: absolute;
    background-color: Silver;
    display: inline-block;
    list-style: none;
}

.wmd-button
{
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

    .wmd-button > span
    {
        background-image: url(wmd-buttons.png);
        background-repeat: no-repeat;
        background-position: 0px 0px;
        width: 20px;
        height: 20px;
        display: inline-block;
    }

.wmd-spacer1
{
    left: 50px;
}

.wmd-spacer2
{
    left: 175px;
}

.wmd-spacer3
{
    left: 300px;
}

.wmd-prompt-background
{
    background-color: Black;
}

.wmd-prompt-dialog
{
    border: 1px solid #999999;
    background-color: #F5F5F5;
}

    .wmd-prompt-dialog > div
    {
        font-size: 0.8em;
        font-family: arial, helvetica, sans-serif;
    }


    .wmd-prompt-dialog > form > input[type="text"]
    {
        border: 1px solid #999999;
        color: black;
    }

    .wmd-prompt-dialog > form > input[type="button"]
    {
        border: 1px solid #888888;
        font-family: trebuchet MS, helvetica, sans-serif;
        font-size: 0.8em;
        font-weight: bold;
    }
